*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration-thickness: 7%;
}

// FONT
$default-font-size: 1.6rem;

:root {
	
}


html {
	// This defines what 1rem is
	font-size: calc(62.5% + 0px); //1 rem = 10px; 10px/16px = 62.5%
	line-height: 100%;
	scroll-behavior: smooth;
	
	@include respond(desktop) {
		font-size: calc(56.25% + 0px); 
	}
	
	@include respond(small-desktop) {
		font-size: calc(45% + 0px); 
	}
	
	@include respond(small-tab) {
		font-size: calc(40% + 0px); 
	}
	
	@include respond(phone) {
		font-size: calc(35% + 0px); 
	}
}

body {
	font-family: HelveticaNeue;
	font-weight: 500;
	color: $black;
	background: $creme;
}

main {
	// pushing content down because of navigation
	margin-top: calc(-100vh + 8.4rem);

	@include respond(tab-port) { 
		margin-top: calc(-100vh + 36px + 4.8rem);
	}

	& > section:last-of-type {
		padding-bottom: 16rem;
  }
}

footer {
	overflow: hidden;
}

// text selection colors
::selection {
	background-color: #f35b10;
	color: $creme;
}