@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue.woff2') format('woff2'),
        url('/fonts/HelveticaNeue.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}